<H3>Our Esteemed Celebrity Liar</H3>

<h1><A HREF="http://www.gbnet.net:80/~stephenf/index.html">Mr. Stephen Fry</A></H1> 
    
<IMG SRC="lbreak.gif" WIDTH=600 HEIGHT=8 ALT="------------"></P> 

<P class="lie"><EM>Journalism is an honourable
profession, attracting some of the most talented and thoughtful minds
in the world.  Its aim is to inform, elucidate and uplift the human
spirit.</EM></P>

<IMG SRC="rbreak.gif" WIDTH=600 HEIGHT=8 ALT="------------"></P> 

<P class="lie">Welshmen are allergic to pajamas.</P>

<IMG SRC="lbreak.gif" WIDTH=600 HEIGHT=8 ALT="------------"></P> 

<P class="lie"><EM>The ingestion of many milligrams of vitamin C will prevent you from
getting a cold.</EM></P>

<IMG SRC="rbreak.gif" WIDTH=600 HEIGHT=8 ALT="------------"></P> 

<P class="lie">William Shakespeare's middle name was Colin.</P>

<IMG SRC="lbreak.gif" WIDTH=600 HEIGHT=8 ALT="------------"></P> 

<P class="lie"><EM>The internet is American.</EM></P>

<IMG SRC="rbreak.gif" WIDTH=600 HEIGHT=8 ALT="------------"></P> 

<P class="lie">Belgian males remove their trousers while driving.</P>
