
<H2>Search the World's Largest Repository of Lies</H2>

<P>The database contains over 10,000 lies,<br/>on every topic from <B>a</B>rtichokes to <B>z</B>ebra.</P>

<table border=3 cellpadding=5 ALIGN=CENTER><tr> <td bgcolor="#eeeeee">
<FORM> 
<INPUT id="w" SIZE=40>
<INPUT id="s" TYPE="submit" VALUE="Search...">
</FORM>
</td><table>
    
<H2>Browse Alphabetically</H2>

<P>The <EM>browse bar</EM> lets you browse randomly selected subjects.</P> 
    
<table border=3 cellpadding=5 ALIGN=CENTER> 
<tr>
<td bgcolor="#eeeeee">
<A>A</A>
<A>B</A>
<A>C</A>
<A>D</A>
<A>E</A>
<A>F</A>
<A>G</A>
<A>H</A>
<A>I</A>
<A>J</A>
<A>K</A>
<A>L</A>
<A>M</A>
<A>N</A>
<A>O</A>
<A>P</A>
<A>Q</A>
<A>R</A>
<A>S</A>
<A>T</A>
<A>U</A>
<A>V</A>
<A>W</A>
<A>X</A>
<A>Y</A>
<A>Z</A>
</td>
</tr>
</table>                        

