<H1><BIG>Dave's Web of Lies</BIG></H1> 

<H5>Established 1873</H5>

<P><IMG SRC="lbreak.gif" WIDTH=600 HEIGHT=8 ALT="------------"></P>

<H2>Women are twelve times more radioactive than men</H2><P>
<IMG SRC="rbreak.gif" WIDTH=600 HEIGHT=8 ALT="------------"><P></CENTER>

There is a lot of information available on the World Wide Web. Not all
of it is as it seems. Everywhere you look there is out-of-date
information, popular misconceptions, and even mistruths presented as
fact.<P>

<CENTER><B>How much of what you read can you trust?</B></CENTER><P>

There is a solution. <EM>Dave's Web of Lies</EM> employs a trained
team of specialised researchers to trawl the world's information nets
seeking out falsehoods. The fruits of their labours are presented to
you here. We constantly update this site with the latest lies for you
to consume, safe in the knowledge that what you read is not true.<P>

<CENTER><IMG SRC="lbreak.gif" WIDTH=600 HEIGHT=8 ALT="------------"><P>

<H2>
Cinnamon is imported from another planet.
</H2><P>

<IMG SRC="rbreak.gif" WIDTH=600 HEIGHT=8 ALT="------------"><P>

<H3>Disclaimer</H3>
<H6>
Whilst we exhaustively examine each of our lies <BR>
for any specks of truth, and reject any found<BR>
to contain even a glimmer of reality, we cannot<BR>
guarantee that our lies are not, in fact, true.
</H6><P>

<NOBR>
<IMG SRC="lbreak.gif" WIDTH=600 HEIGHT=8 ALT="------------"><P>
<IMG ALT="Speciences"
ALIGN=BOTTOM BORDER="0" WIDTH=75 HEIGHT=63
SRC="badges/speriences.gif"><IMG SRC="badges/vert4star.gif" WIDTH=72
HEIGHT=82 ALIGN=BOTTOM ALT="Magellan 4 Star site"><IMG SRC="badges/cybersmith.gif" WIDTH=89
HEIGHT=89 ALIGN=BOTTOM ALT="Catch of the Day"><IMG SRC="badges/small_csotd.gif"
WIDTH=74 HEIGHT=100 ALT="Cool Site of the Day" ALIGN=BOTTOM><IMG SRC="badges/jewbadge.gif"
WIDTH=96 HEIGHT=126 ALT="Colspace" ALIGN=BOTTOM><IMG SRC="badges/awdgrn2.gif" WIDTH=90
HEIGHT=145 ALIGN=BOTTOM ALT="WWWierdness"><IMG
SRC="badges/cotd_badge.gif" WIDTH=120 HEIGHT=150 ALT="Cool Site of the UK">
</NOBR>
<BR>
<NOBR>
<IMG ALT="Aaarg" ALIGN=BOTTOM SRC="badges/aaarg_logo.gif"><IMG
   ALT="Sad Sites" ALIGN=BOTTOM BORDER="0" WIDTH=68 HEIGHT=57
   SRC="badges/sadsites.gif"><IMG SRC="badges/butfsd2.gif" WIDTH=117
   HEIGHT=54 ALT="Fun Site of the Day"><IMG
   SRC="badges/ukplus-sotm.gif" WIDTH="100" HEIGHT="60" BORDER="0"
   ALT="UK Plus Award Winner"><IMG SRC="badges/hsaward.gif" WIDTH=164
   HEIGHT=68 ALT="Humour Search 5 Star Site"><IMG
   SRC="badges/llama.gif" WIDTH=100 HEIGHT=73 ALT="LLama Award">
</NOBR>
<BR>
<NOBR>
<IMG SRC="badges/WINGS1.GIF" WIDTH=110
   HEIGHT=54 ALIGN=TOP BORDER=0 ALT="WebFlier's Wings Award"><IMG SRC="badges/yell.gif" 
   WIDTH=130 HEIGHT=60 ALIGN=TOP BORDER=0 ALT="UK Web Awards Nominee"><IMG SRC="badges/illogo2w.gif" 
    WIDTH=97 HEIGHT=96 ALIGN=TOP BORDER=0 alt="Illuminated Site of the Week"><IMG SRC="badges/bug1.gif" 
    WIDTH=117 HEIGHT=58 ALIGN=TOP BORDER=0 ALT="LinkyDinky Cool Site"><img src="badges/snotsheet2.gif" 
   WIDTH=88 HEIGHT=31 ALIGN=TOP BORDER=0 ALT="Snot Sheet Site">
</NOBR>
<BR>
<NOBR>
<IMG SRC="badges/csotuk.gif" 
   WIDTH=120 HEIGHT=150 ALT="Catch of the Day" ALIGN=TOP><IMG SRC="badges/boc96.gif"
WIDTH=108 HEIGHT=124 ALT="Best of Campus" ALIGN=TOP><IMG SRC="badges/5perclgt.gif" WIDTH=120
HEIGHT=118 ALT="Pointcom's Top 5%" ALIGN=TOP><IMG SRC="badges/c-e-a.gif"
WIDTH=89 HEIGHT=110 ALT="Center for the Easily Amused" ALIGN=TOP><IMG SRC="badges/crapspot.gif"
WIDTH=104 HEIGHT=96 ALT="CRAPCO Comedy Connection" ALIGN=TOP>
</NOBR><BR>

